<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190242308475-a9oltnb2me59403q9tjri1409qbdhpp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190242308475-a9oltnb2me59403q9tjri1409qbdhpp3</string>
	<key>API_KEY</key>
	<string>AIzaSyAPXARbXweqYAaS5qArNCM7HmCeRATT7mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>190242308475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.group1.hungerboxios</string>
	<key>PROJECT_ID</key>
	<string>hunger-box-95f33</string>
	<key>STORAGE_BUCKET</key>
	<string>hunger-box-95f33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190242308475:ios:583126ae23892ff0567dde</string>
</dict>
</plist>